body{
    display: flex;
    flex-direction: column;
    background:linear-gradient(#041f41,#356ea9,#d8dfe8);
}

header{
    padding:0.5rem;
    background-color: #1111352a;
}

.main {
    display: flex;
    justify-content: space-around;
}

textarea {
    background-color: #d8dfe8;
    text-align: center;
}

.input-texto {
    margin-top: 85px;
    margin-left: 15px;
    border-radius: 30px;
    padding: 0.5rem;
}

.informacao {
    margin-left: 15px;
}

.mensagens-erro li::before {
    width: 16px;
    height: 17px;
    vertical-align: middle;
}

.mensagens-erro li {
    font-size: 20px;
    margin-left: 25px;
}

.botoes {
    display: flex;
    flex-direction: row;
    margin-top: 57px;
    margin-left: 15px;
}

button {
    width: 325px;
    height: 60px;
    border: 1px solid #0a3871;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: 3px 5px 12px #356ea9;
}

button:hover {
    transition: 0.5s;
    transform: scale(1.1);
    opacity: 80%;
}

.btn-codifi {
    background-color: #0a3871;
    color: white;
}

.btn-decodifi {
    margin-left: 30px;
    background-color: #d8dfe8;
    color: #0a3871;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-image:linear-gradient(#041f413a,#356ea9,#f4f5f7);
    padding: 1rem;
    text-align: center;
    box-shadow: 12px 28px 35px #356ea9;
    margin: 20px 0;
    border-radius: 40px;
}

.resultado {
    position: relative;
    padding: 1rem;
    box-shadow: 12px 28px 35px #356ea9;
    background-color: transparent;
    margin: 20px 0;
    border-radius: 40px;
    border-color: transparent;
}

.resultado:placeholder-shown {
    background-repeat: no-repeat;
    background-image: url(../images/resultado-bg.png);
    border-radius: 20px;

}

.resultado:not(:placeholder-shown) {
    background-color: white;
}

.invisivel {
    display: none;
}

.btn-copiar {
    background-color: white;
    color: #0a3871; 
}

footer {
    padding: 1.5rem;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
}

@media (max-width:1060px) {

    body{
        align-items: center;
    }

    header {
        background-image: linear-gradient(to right,#2c8bf094,#0d305f23);
        width: 100%;
        align-items: center;
        padding-left: 30%;
    } 
       
    main {
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin-left: 50%;
}

  .container {
      width: auto;
      align-items: center;
      margin-left: 1%;
}

  .input-texto {
      width: auto;
      padding: 6% 13%;
      border-radius: 6%;
      padding: 0.2rem;
}

  .botoes {
     width: 100%;
     padding: 4% 13%;
     flex-direction: row;
     margin-top: 5%;
     gap: 6rem;
}

  button {
     padding: 3%;
     width: 20%;
}

  footer {
    text-align: center;
    margin-left: 50%;
  }
}